
@font-face {
    font-family: mifuente;
    src: url(../../assets/fonts/ShinePersonalUse.ttf);
    }
  
    
@font-face {
    font-family: trench;
    src: url(../../assets/fonts/trench100free.ttf);
    }
  
